In [1]:
import pandas as pd
import numpy as np

In [2]:
caremembers = pd.read_csv('../data/NSS_GreatCare_Members.csv')
inpatient = pd.read_csv('../data/NSS_Hospital_Inpatient_Admissions.csv')
primarycare = pd.read_csv('../data/NSS_PrimaryCare_Office_Visits.csv')

C:\Users\18036\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,5,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
inpatient

,Encounter ID,Patient ID,Encounter Primary Payor ID,Encounter Primary Plan ID,Facility Provider ID,Attending Provider ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,...,CMS Admit Source Code,CMS Patient Discharge Status Code,CMS Place of Service Code,Principal Discharge Diagnosis ICD-9-CM Code,Principal Discharge Diagnosis ICD-9-CM Description,Principal Discharge Diagnosis ICD-10-CM Code,Principal Discharge Diagnosis ICD-10-CM Description,Primary Plan Allowed Amount,Primary Plan Paid Amount,Patient Paid Amount
0,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,DS1|1,DS1|5047W,DS1|NPI|1306890389,DS1|NPI|1417170523,1.417171e+09,1306890389,2013-01-12,2013-01-14,...,1,1,21.0,NaN,NaN,O70.0,First degree perineal laceration during delivery,0,6620.72,250.0
1,HIA|DS1|10043|DS1|NPI|1902803315|1,DS1|10043,DS1|1,DS1|5047Y,DS1|NPI|1902803315,DS1|NPI|1669599197,1.669599e+09,1902803315,2014-01-05,2014-01-12,...,1,1,21.0,348.4,Compression of brain,NaN,NaN,0,46465.40,250.0
2,HIA|DS1|10073|DS1|NPI|1902803315|1,DS1|10073,DS1|1,DS1|5047X,DS1|NPI|1902803315,DS1|NPI|1407880511,1.407881e+09,1902803315,2012-06-13,2012-06-21,...,1,1,21.0,NaN,NaN,K91.71,Accidental puncture and laceration of a digest...,0,43879.13,250.0
3,HIA|DS1|10101|DS1|NPI|1427055839|1,DS1|10101,DS1|1,DS1|5047W,DS1|NPI|1427055839,DS1|NPI|1407008907,1.407009e+09,1427055839,2012-12-06,2012-12-09,...,1,1,21.0,NaN,NaN,O70.1,Second degree perineal laceration during delivery,0,14800.00,250.0
4,HIA|DS1|10118|DS1|NPI|1992818256|1,DS1|10118,DS1|1,DS1|5047W,DS1|NPI|1992818256,DS1|NPI|1518045608,1.518046e+09,1992818256,2015-03-11,2015-03-14,...,2,1,NaN,NaN,NaN,F32.9,"Major depressive disorder, single episode, uns...",0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6208,HIA|DS1|9979|DS1|NPI|1689772592|1,DS1|9979,DS1|1,DS1|5047X,DS1|NPI|1689772592,DS1|NPI|1720043417,1.720043e+09,1689772592,2015-02-06,2015-02-11,...,2,6,21.0,NaN,NaN,O44.13,"Complete placenta previa with hemorrhage, thir...",0,23598.00,250.0
6209,HIA|DS1|9981|DS1|NPI|1427055839|1,DS1|9981,DS1|1,DS1|5047W,DS1|NPI|1427055839,DS1|NPI|1215968474,1.215968e+09,1427055839,2014-08-07,2014-08-10,...,1,1,21.0,664.11,"Second-degree perineal laceration, delivered, ...",NaN,NaN,0,14800.00,250.0
6210,HIA|DS1|9994|DS1|NPI|1689608150|1,DS1|9994,DS1|1,DS1|5047W,DS1|NPI|1689608150,DS1|NPI|1861831836,1.861832e+09,1689608150,2015-11-21,2015-11-23,...,1,1,21.0,NaN,NaN,O76,Abnormality in fetal heart rate and rhythm com...,0,17919.75,250.0
6211,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,DS1|1,DS1|5047W,DS1|NPI|1689608150,DS1|NPI|1750544516,1.750545e+09,1689608150,2015-11-24,2015-11-27,...,1,1,21.0,NaN,NaN,O42.92,"Full-term premature rupture of membranes, unsp...",0,19919.42,250.0
6212,HIA|DS1|9996|DS1|NPI|1033298617|1,DS1|9996,DS1|1,DS1|5047X,DS1|NPI|1033298617,DS1|NPI|1518045608,1.518046e+09,1033298617,2010-03-28,2010-03-31,...,2,1,NaN,NaN,NaN,O86.12,Endometritis following delivery,0,0.00,0.0

In [4]:
dupes = inpatient.duplicated(subset= 'Patient ID', keep = False)
dupes = dupes.reset_index()
dupes = dupes.rename(columns = {0: 'readmitted'})

In [5]:
dupes

      index  readmitted
0         0       False
1         1       False
2         2       False
3         3       False
4         4       False
...     ...         ...
6208   6208       False
6209   6209       False
6210   6210        True
6211   6211        True
6212   6212       False

[6213 rows x 2 columns]

In [6]:
readmissions = inpatient[['Patient ID', 'Encounter Start Date', 'Encounter End Date']]
readmissions = readmissions.reset_index()
readmissions = pd.merge(readmissions, dupes, on = 'index')

In [7]:
readmitted = readmissions[readmissions['readmitted'] == True]

In [8]:
readmitted

      index Patient ID Encounter Start Date Encounter End Date  readmitted
7         7  DS1|10132           2013-08-14         2013-08-16        True
8         8  DS1|10132           2013-03-30         2013-04-01        True
17       17  DS1|10253           2011-10-15         2011-11-13        True
18       18  DS1|10253           2010-06-02         2010-06-06        True
19       19  DS1|10253           2010-04-02         2010-04-16        True
...     ...        ...                  ...                ...         ...
6201   6201   DS1|9943           2013-10-01         2013-10-16        True
6202   6202   DS1|9943           2013-10-25         2013-10-28        True
6203   6203   DS1|9943           2014-10-28         2014-10-30        True
6210   6210   DS1|9994           2015-11-21         2015-11-23        True
6211   6211   DS1|9994           2015-11-24         2015-11-27        True

[2382 rows x 5 columns]

In [9]:
readmitted['Encounter Start Date'] = pd.to_datetime(readmitted['Encounter Start Date'])
readmitted['Encounter End Date'] = pd.to_datetime(readmitted['Encounter End Date'])
readmitted

<ipython-input-9-adbe36b66bf7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmitted['Encounter Start Date'] = pd.to_datetime(readmitted['Encounter Start Date'])
<ipython-input-9-adbe36b66bf7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmitted['Encounter End Date'] = pd.to_datetime(readmitted['Encounter End Date'])

      index Patient ID Encounter Start Date Encounter End Date  readmitted
7         7  DS1|10132           2013-08-14         2013-08-16        True
8         8  DS1|10132           2013-03-30         2013-04-01        True
17       17  DS1|10253           2011-10-15         2011-11-13        True
18       18  DS1|10253           2010-06-02         2010-06-06        True
19       19  DS1|10253           2010-04-02         2010-04-16        True
...     ...        ...                  ...                ...         ...
6201   6201   DS1|9943           2013-10-01         2013-10-16        True
6202   6202   DS1|9943           2013-10-25         2013-10-28        True
6203   6203   DS1|9943           2014-10-28         2014-10-30        True
6210   6210   DS1|9994           2015-11-21         2015-11-23        True
6211   6211   DS1|9994           2015-11-24         2015-11-27        True

[2382 rows x 5 columns]

In [15]:
readmitted[["Encounter End Date", "Encounter Start Date"]] - readmitted[["Encounter Start Date", "Encounter End Date"]].shift(1)

     Encounter End Date Encounter Start Date
7                   NaT                  NaT
8             -137 days            -137 days
17            -505 days            -532 days
18            -525 days            -500 days
19             -51 days             -61 days
...                 ...                  ...
6201           994 days             980 days
6202            12 days              24 days
6203           367 days             368 days
6210           389 days             389 days
6211             4 days               3 days

[2382 rows x 2 columns]

In [11]:
type(readmitted['Encounter Start Date'])

pandas.core.series.Series